[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

ipykernel = "*"
numpy = "*"
scipy = "*"
pandas = "*"
matplotlib = "*"
xgboost = "*"
plotly = "*"
yapf = "*"
sklearn = "*"
tpot = "*"
"spm1d" = "*"


[dev-packages]

