[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

numpy = "*"
seaborn = "*"
scipy = "*"
pandas = "*"
matplotlib = "*"
tables = "*"
sklearn = "*"
xgboost = "*"
ipykernel = "*"
jupyterlab = "*"


[dev-packages]

